*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(246, 206, 192)
}
#container{
    background-color:rgb(232, 145, 145);
    display: grid;
    width: 500px;
    margin:auto;
    margin-top: 100px;
    border-radius: 20px;
   
}
form{
    display: grid;
    justify-content: center;
    padding: 10px;

   
}
#title{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    justify-content: center;
    border-radius: 20px 20px 0px 0px ;
    padding: 10px 0px 10px 0px;
   
}
input, select{
    padding: 20px;
    color: white;
    background-color: rgb(163, 112, 112);
    margin: 5px;
    border: 1px solid rgb(227, 200, 200);
    font-size: 16px;
    border-radius: 10px;
    padding-right: 90px;
   
}
#button{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-right: 10px;
}
#links{
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
}
